body{
  background-color: #866e69;
}
img{
  width: 100%;
}
.parent{
  background-color: #66da62;
  display: flex;
  justify-content:space-around;
}
.child{
  background-color: #6574e1;
  margin:1%;
  text-align: center;
  box-shadow: 5px 5px 5px black;
  border: lightgray  ;
  width:30%;
}
@@media only screen and (min-width:320px) and (max-width:480px){
.parent{
  flex-wrap: wrap;
  justify-content: space-around;
}
.child{
  width:100%;
  flex-wrap: wrap;
}
}
